@import url(https://fonts.bunny.net/css?family=fira-mono:400|noto-sans:400|raleway:500|rokkitt:500);

:root {
  --background: #071715;
  --effect: #effec7;
  --defies: #def1e5;
  --atext: #88e2a9;
  --medium-text: #202020;
  --shadow-top: #030908;
  --shadow-bottom: #0b2522;
  --boobie: #b00b1e;
  --light-background: #062421;
  --highlighted-button: #051513;
}

body {
  font-family: "noto-sans", sans-serif;
  background-color: var(--background);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background);
  background: var(--effect);
}

::selection {
  color: var(--background);
  background: var(--effect);
}

html {
  scroll-behavior: smooth;
}

p,
a {
  font-size: 20px;
  font-weight: 400;
  font-family: "fira-mono";
}

.subscript {
  margin-left: 45px;
}

h4,
h5,
li,
p,
label {
  color: var(--defies);
  /*all conventional thinking*/
  font-family: "noto-sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--effect);
  /*like pure FP*/
  font-family: "noto-sans", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

a {
  font-family: "fira-mono", sans-serif;
  color: var(--atext);
  text-decoration: none;
}

li,
a:hover {
  color: var(--boobie);
  /*lol*/
}

footer {
  margin-top: 150px;
  margin-left: 20%;
}

ul {
  list-style: none;
}

.collapser {
  cursor: pointer;
  margin-right: 30px;
  border: 0;
  padding: 17px 20px 17px 20px;
  border-radius: 70px;
  background: var(--background);
  box-shadow: 10px 10px 26px var(--shadow-top),
    -10px -10px 26px var(--shadow-bottom);
}

.active,
.collapser:hover {
  border-radius: 70px;
  background: linear-gradient(145deg, var(--shadow-top), var(--shadow-bottom));
  box-shadow: 10px 10px 26px var(--shadow-top),
    -10px -10px 26px var(--shadow-bottom);
}

.collapsible-container {
  padding: 0px 5px 0px 25px;
  border-radius: 15px;
  margin-top: 35px;
  margin-bottom: 30px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--light-background);
}

.skip-nav-link {
  position: absolute;
  transform: translateY(-320%);
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  border: solid var(--defies) 2px;
  background: var(--medium-text);
  left: 0.5rem;
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(-200%);
  color: var(--defies);
}

.container {
  margin-top: 10vh;
  margin-left: 20%;
  margin-right: 20%;
}

.navbar {
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-top: 35px;
}

.navlink {
  margin-right: 30px;
  padding: 17px 20px 17px 20px;
  border-radius: 70px;
  background: var(--background);
  box-shadow: 10px 10px 26px var(--shadow-top),
    -10px -10px 26px var(--shadow-bottom);
}

.navlink:hover,
.navlink:focus {
  background: linear-gradient(145deg, var(--shadow-top), var(--shadow-bottom));
  box-shadow: 10px 10px 26px var(--shadow-top),
    -10px -10px 26px var(--shadow-bottom);
}

.navlink:active {
  background: var(--background);
  box-shadow: inset 10px 10px 26px var(--shadow-top),
    inset -10px -10px 26px var(--shadow-bottom);
}

.seedentry {
  margin: 45px 50px 45px 0px;
  padding: 17px 20px 17px 20px;
  border-radius: 20px;
  background: var(--background);
  box-shadow: 10px 10px 26px var(--shadow-top),
    -10px -10px 26px var(--shadow-bottom);
}

.seedentry:hover {
  background: var(--highlighted-button);
}

label:hover {
  color: var(--boobie);
  cursor: pointer;
}

/* icons social media */

.social {
  position: relative;
  top: -90%;
  margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}
