@use "syntax-theme-light";

@mixin theme($theme: light) {
    --background-color: #f4f1eb;
    --header-background-color: #fffdf8;
    --text-color: #1c2521;
    --text-accent-color: #53615a;
    --border-color: #b7c4bd;
    --link-color: #165b45;
    --link-hover-color: #0b3d2e;
    --link-hover-line-color: #2f765e;
    --icon-hover-color: var(--link-hover-color);
    --icon-color: var(--text-color);
    --code-background: #e4ebe6;
    --table-header-background-color: var(--header-background-color);
    --mark-bg-color: rgba(97.01%,79.68%,27.43%,1.000);
    --mark-text-color: rgba(24.25%,23.63%,23.93%,1.000);
}

:root {
    @include theme($theme: light);
    @include syntax-theme-light.light;
}
